.cart_detail {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000070;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
}

.cart_detail_block {
  background-color: #fff;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 20%);
  border-radius: 10px;
  padding: 10px;
  font-size: 1.5em;
  min-width: 600px;
  height: 600px;
  overflow-y: scroll;
}

.cart_detail_block::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cart_detail_block {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.cart_detail_block ul {
  padding-left: 26px;
}

.cart_detail_block li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.cart_detail_block a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.team-rename-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.team-rename {
  border: none;
  font-size: 1.5em;
}

.team-rename:hover {
  cursor: pointer;
}

.team-rename:focus {
  outline: unset;
  border-bottom: solid 1px #202020;
}

.button-rename {
  background-color: #202020;
  color: white;
  font-size: 1.3em;
  border: none;
  border-radius: 5px;
}

.button-rename:hover {
  cursor: pointer;
}

.button-rename:disabled {
  cursor: default;
  background-color: lightgrey;
}

.button-delete-heros {
  background-color: #202020;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  margin: 0;
  margin-right: 26px;
}

.button-delete-heros:hover {
  cursor: pointer;
}

.save-block {
  display: flex;
  justify-content: center;
}

.button-save {
  top: 80%;
  background-color: #202020;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.button-save:hover {
  cursor: pointer;
}

.error {
  border-bottom: solid 1px #ED1D24;
}
