<div class="cart_detail toggle">
  <div class="cart_detail_block">
    <div class="team-rename-block">
      <input #newName class="team-rename" value="{{team().name}}">
      <button type="button" class="button-rename" (click)="teamManager.renameCurrentTeam(newName.value)">Renommer l'équipe</button>
    </div>
    <div *ngFor="let hero of team().heros">
      <ul>
        <li><a class="toggle" routerLink="/detail/{{hero.id}}">{{ hero.name }}</a> <button type="button" class="button-delete-heros" (click)="deleteHero(hero.id)">X</button></li>
      </ul>
    </div>
    <div class="save-block">
      <button type="button" class="button-save" (click)="saveTeam()">Sauvegarder</button>
    </div>
  </div>
</div>
