.hero-detail {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  font-size: 1.3em;
}

.hero-thumbnail {
  padding-right: 20px;
  margin-bottom: 20px;
}

.hero-info {
  text-align: justify;
}

.hero-info div {
  margin-bottom: 10px;
}

.hero-container {
  width: 80%;
}

.comics-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.3em;
}

.comic {
  width: 50%;
}

.comic div {
  padding-bottom: 10px;
}

.description {
  width: 90%;
  text-align: justify;
  line-height: 1.5em;
}

.button-add-heros {
  width: 8em;
  height: 1.5em;
  background-color: #202020;
  color: white;
  font-size: 1.3em;
  border: none;
  border-radius: 5px;
}

.button-add-heros:hover {
  cursor: pointer;
}

.button-add-heros:disabled {
  cursor: default;
  background-color: lightgrey;
}
