.team-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  font-size: 1.3em;
}

.button-add-team {
  padding: 5px 20px;
  background-color: #202020;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 5px;
}

.team-name {
  font-weight: bold;
}

.team_cart {
  padding: 10px;
  margin: 10px;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 20%);
  width: 400px;
  border-radius: 10px;
}

.team_cart ul {
  list-style: none;
  padding: 0;
}

.team_cart a {
  text-decoration: none;
  color: black;
}

.team-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.team-button button{
  width: 6em;
  padding: 5px 0px;
  margin-top: 20px;
  background-color: #202020;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 5px;
}

.cart_save {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000070;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
}

.cart_save_block {
  position: relative;
  background-color: #fff;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 20%);
  border-radius: 10px;
  padding: 10px;
  width: 600px;
  height: 300px;
  font-size: 1.3em;
  text-align: center;
}

.cart_save_block p {
  margin-inline: 15px;
  margin-block-start: 0;
}

.cart {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


.cart_save_block button {
  padding: 5px 25px;
  background-color: #202020;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 5px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


