<div class="team-container">
  <div>
    <div class="team_cart" *ngFor="let team of teamManager.getTeams(); first as isFirst">
      <div>
        <span class="team-name">{{ team.name }}</span>
      </div>
      <ul *ngFor="let hero of team.heros">
        <li><a routerLink="/detail/{{hero.id}}">{{ hero.name }}</a></li>
      </ul>
      <div class="team-button">
        <button *ngIf="isFirst" type="button" (click)="teamManager.saveTeam()">Sauvegarder</button>
        <button *ngIf="!isFirst" type="button" (click)="teamManager.selectTeamButton(team.id)">Sélectionner</button>
        <button type="button" (click)="teamManager.deleteTeam(team.id)">Supprimer</button>
      </div>
    </div>
    <div *ngIf="teamManager.blockSaveSelect !== null" class="cart_save">
      <div class="cart_save_block">
        <div class="cart">
          <p>Souhaitez vous enregistrer votre équipe actuelle avant de sélectionner une autre équipe ?</p>
          <p>Toute équipe non sauvegardée sera perdue définitivement.</p>
          <div class="button-container">
            <button type="button" (click)="teamManager.blockSaveSelect = null">Annuler</button>
            <button type="button" (click)="teamManager.selectTeam()">Ne pas sauvegarder</button>
            <button type="button" (click)="teamManager.saveTeam(); teamManager.selectTeam(); teamManager.blockSaveSelect = null">Sauvegarder</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="teamManager.blockSaveNew" class="cart_save">
      <div class="cart_save_block">
        <div class="cart">
          <p>Souhaitez vous enregistrer votre équipe actuelle avant d'en créer une nouvelle ?</p>
          <p>Toute équipe non sauvegardée sera perdue définitivement.</p>
          <div class="button-container">
            <button type="button" (click)="teamManager.toggleSaveNew()">Annuler</button>
            <button type="button" (click)="teamManager.addNewTeam(); teamManager.toggleSaveNew()">Ne pas sauvegarder</button>
            <button type="button" (click)="teamManager.saveTeam(); teamManager.addNewTeam(); teamManager.toggleSaveNew()">Sauvegarder</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="team-add">
    <button type="button" class="button-add-team"(click)="teamManager.addNewTeamButton()">Ajouter une nouvelle équipe</button>
  </div>
</div>

