<!-- Affichage de la page de chargement tant que les héros ne sont pas chargés -->
<div *ngIf="isInit(); then content else loading"></div>
<ng-template #content>
  <div class="search-input">
    <div>
      <label class="text-input-size">Chercher un héros par son nom ou sa description</label>
      <input name="search" class="text-input-size" (keypress)="searchHeros(search.value, $event)" #search>
      <button class="button-search" type="button" (click)="searchHeros(search.value,$event)">Rechercher</button>
    </div>
    <div>
      <button class="button-search" type="button" (click)="getTenRandomHeroes()">Afficher 10 héros aléatoires</button>
    </div>
  </div>
  <div class="hero-list-container">
    <div class="hero-list" *ngFor="let item of heroesSearch">
      <img src="{{item.thumbnail.path}}/portrait_fantastic.{{item.thumbnail.extension}}">
      <a class="hero-link" routerLink="/detail/{{item.id}}">{{ item.name }}</a>
    </div>
  </div>
</ng-template>
<ng-template #loading>
  <div class="loader">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <p>Récupération des héros...</p>
  </div>
</ng-template>

